**/*.svg
*.png
*.toml
docker
.dockerignore
Dockerfile*
.DS_Store
.history
yarn-error.log
*.lock
package.json
package-lock.json
LICENSE
CNAME
.eslintignore
.gitignore
.prettierignore
.eslintcache
/node_modules
/build
/dist