html {
  --app-background-color: #f8f8f8;
}

body {
  margin: 0;
  background-color: var(--app-background-color);
}

.app,
.page-content {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.app {
  overflow: hidden;
}

.page-content {
  overflow: auto;
}
