.pages {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  background-color: var(--page-bg-color);
  z-index: 1;

  &.slide-enter,
  &.slide-exit {
    pointer-events: none;
  }
}

.page-content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
}

.pages.forward .page.slide-enter {
  animation: page-next-to-current var(--page-transition-duration) forwards;
  z-index: 2;

  &::before {
    position: absolute;
    top: 0;
    width: 16px;
    bottom: 0;
    z-index: -1;
    content: '';
    opacity: 0;
    right: 100%;
    background: linear-gradient(
      to right,
      rgb(0 0 0 / 0%) 0%,
      rgb(0 0 0 / 0%) 10%,
      rgb(0 0 0 / 1%) 50%,
      rgb(0 0 0 / 20%) 100%
    );
    animation: page-element-fade-in var(--page-transition-duration) forwards;
  }
}

.pages.forward .page.slide-exit {
  animation: page-current-to-previous var(--page-transition-duration) forwards;

  &::after {
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(0 0 0 / 10%);
    width: 100%;
    bottom: 0;
    content: '';
    opacity: 0;
    z-index: 10000;
    animation: page-element-fade-in var(--page-transition-duration) forwards;
  }
}

.pages.backward .page.slide-enter {
  animation: page-previous-to-current var(--page-transition-duration) forwards;

  &::after {
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(0 0 0 / 10%);
    width: 100%;
    bottom: 0;
    content: '';
    opacity: 0;
    z-index: 10000;
    animation: page-element-fade-out var(--page-transition-duration) forwards;
  }
}

.pages.backward .page.slide-exit {
  z-index: 2;
  animation: page-current-to-next var(--page-transition-duration) forwards;

  &::before {
    position: absolute;
    top: 0;
    width: 16px;
    bottom: 0;
    z-index: -1;
    content: '';
    opacity: 0;
    right: 100%;
    background: linear-gradient(
      to right,
      rgb(0 0 0 / 0%) 0%,
      rgb(0 0 0 / 0%) 10%,
      rgb(0 0 0 / 1%) 50%,
      rgb(0 0 0 / 20%) 100%
    );
    animation: page-element-fade-out var(--page-transition-duration) forwards;
  }
}

@keyframes page-next-to-current {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(0%, 0, 0);
  }
}

@keyframes page-current-to-previous {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-20%, 0, 0);
  }
}

@keyframes page-current-to-next {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes page-previous-to-current {
  from {
    transform: translate3d(-20%, 0, 0);
  }

  to {
    transform: translate3d(0%, 0, 0);
  }
}

@keyframes page-element-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes page-element-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
